<div class="container">
  <div *ngFor="let contact of contacts">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"></h5>
      <small class="text-muted">C'est la blague de  {{contact.first_name}} ...</small>
    </div>
    <p class="mb-1">{{contact.last_name}}</p>
    <small class="text-muted">Commentaires</small> 
   <!--
    <div class="col-md-3">
      <input type="button" (click)="deleteContact(contact._id)" value="Delete" class="btn btn-danger">
    </div>
    -->
  </div>
</div>
